nav {
    height: 6vh;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 4px;
    left: 10%;
    right: 10%;
    background-color: transparent;
    
    
    position: fixed;
    z-index: 20;
    top: 12px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    font-family: Arial, sans-serif;
    font-size: 1em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer p{
    text-align: center;
}

a {
    color: #faf3dd;
    text-decoration: none;
    margin: 0 15px;
}

section {
    height: 100vh;
    padding-left: 10vw;
    padding-right: 10vw;
    display: flex;
    align-items: center;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  sans-serif;
    background-color: #4a7c59;
    color: #faf3dd;
}

.content {
    position: relative;
    z-index: 10;
}

.blurry {
    width: 300px;
    height: 300px;
    border-radius: 100px;
    position: absolute;
    background-color: #FFB7C6;
    filter: blur(150px);
    right: -120px;
}

.beige {
    background-color: #c8d5b9;
    left: -120px;
}

h1 {
    font-family: fantasy;
    font-size: 3em;
    margin-bottom: 0;
    color: #FFB7C6;
}
.heroSubtitle {
    font-size: 1.5em;
}
h2 {
    font-size: 2.5em;
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    color: #ecf39e;
}


p {
    text-align: justify;
}

#container3D {
    position: fixed;
    top: 0;
    inset: 0;
    z-index: 100;
    pointer-events: none;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 94vh;
    text-align: center;
}

.scrollContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scrollCircle {
    width: 64px;
    height: 64px;
    border-radius: 41px;
    border: solid 1px #faf3dd;
    color: #faf3dd;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
}

.hero p {
    text-align: center;
}

.Flight, .Metabolism, .Pollinization, .Migration{
    width: 40%;
}

.Metabolism, .Migration {
    margin-left: auto;
    margin-right: 0;
}